@model FinalFantasy.Models.Comments

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Comments</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>

        <p>
            <input type="submit" value="Skapa" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Gå tillbaka", "Details", new { id = "6" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
