<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div>
            <p>@Html.ActionLink("your logo here", "Index", "Home")</p>
        </div>
        <nav>
            <ul id="menu">
                <li>@Html.ActionLink("Hem", "Index", "Home")</li>
                <li>@Html.ActionLink("Om", "About", "Home")</li>
                <li>@Html.ActionLink("Final Fantasy spel", "Game", "Home")</li>
            </ul>
        </nav>
    </header>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
