<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div>
            <img src="~/Content/Logo.png" />
        </div>
        <nav>
            <ul id="menu">
                <li>@Html.ActionLink("Hem", "Index", "Home")</li>
                <li>@Html.ActionLink("Om", "About", "Home")</li>
                <li><a href="#">Final Fantasy games</a>
                    <ul>
                        <li>@Html.ActionLink("Final Fantasy 1", "FinalFantasy1", "FinalFantasy1", new {id = "1" }, null)</li>
                        <li>@Html.ActionLink("Final Fantasy 2", "FinalFantasy2", "FinalFantasy2", new {id = "2" }, null)</li>
                        <li>@Html.ActionLink("Final Fantasy 3", "FinalFantasy3", "FinalFantasy3", new {id = "3" }, null)</li>
                        <li>@Html.ActionLink("Final Fantasy 4", "FinalFantasy4", "FinalFantasy4", new {id = "4" }, null)</li>
                        <li>@Html.ActionLink("Final Fantasy 5", "FinalFantasy5", "FinalFantasy5", new {id = "5" }, null)</li>
                        <li>@Html.ActionLink("Final Fantasy 6", "FinalFantasy6", "FinalFantasy6", new {id = "6" }, null)</li>
                        <li>@Html.ActionLink("Final Fantasy 7", "FinalFantasy7", "FinalFantasy7", new {id = "7" }, null)</li>
                        <li>@Html.ActionLink("Final Fantasy 8", "FinalFantasy8", "FinalFantasy8", new {id = "8" }, null)</li>
                        <li>@Html.ActionLink("Final Fantasy 9", "FinalFantasy9", "FinalFantasy9", new {id = "9" }, null)</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Galleri", "Gallery", "Home")</li>             
            </ul>
        </nav>
    </header>
    <section>
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </section>
</body>
</html>
